<app-header></app-header>

<app-divider></app-divider>

<div>
    <div class="pill-group">

        <a class="pill" [routerLink]="['/test']">
            <span>Start a test with 20 questions</span>
        </a>

        <a class="pill" [routerLink]="['/categories']" >
            <span>Train by categories</span>
        </a>

        <a class="pill" [routerLink]="['/train']" [queryParams]="{ random: false }">
            <span>Step-by-Step Practice</span>
        </a>


        <a class="pill" [routerLink]="['/train']" [queryParams]="{ random: true }">
            <span>Random Questions</span>
        </a>

        <a class="pill" [routerLink]="['/search']">
            <span>Search questions</span>
        </a>

    </div>
</div>

<app-divider></app-divider>

<app-footer></app-footer>
