
.text {
  font: 1.5em Open Sans, Impact;
  text-transform: uppercase;
}

.small-text {
  font-size: 0.25em; /* Adjust the size as needed */
  text-transform: none; /* Remove uppercase transformation */
}
