.divider {
    height: 1px;
    width: 100%;
    background: black;
    margin-block: 1.5rem;
}


@media screen and (max-width: 650px) {
    .divider {
        height: 1px;
        width: 100%;
        background: black;
        margin-block: 1.5rem;
    }
}