<div *ngIf="!(showSpinner$.pipe() | async)">
    <div *ngIf="!resultButton.showResult">
        <app-progress-bar [questionIndex]="currentQuestionIndex" [totalQuestions]="totalQuestions"></app-progress-bar>
    
        <app-question 
        [type] ="'test'"
        [qs]="question$.pipe() | async" 
        (nextClick)="nextQuestion($event)">
        </app-question>
    
    </div>
    
    <div  *ngIf="resultButton.showResult" class="result-container">
        <div class="content">
            <p class="result-message">Congratulations! You have completed the quiz.</p>
            <button (click)="viewResult()" class="button">View Result</button>
        </div>
    </div>
    
</div>

<app-loading-spinner *ngIf="showSpinner$.pipe() | async"></app-loading-spinner>